<form action="#" class="new-form">
    <div class="row">
        <div class="input-field">
            <input  id="first_name" type="text" class="validate">
            <label for="first_name">Product Name</label>
        </div>
        <div class="input-field">
            <select class="browser-default">
                <option value="" disabled selected>Select Products</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>Image</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div class="input-field">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
        </div>
    </div>
</form>