#nav{
    position: fixed;
    top: 71px;
    left: 0;
    width: 200px;
    bottom: 0;
    height: 100%;
    background: darkslategrey;
    line-height:20px;
}

#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#nav .collapsible li{
    border-bottom:1px solid floralwhite;
    float: none;
    display: block;
}

#nav .collapsible li.active{
    border: none;
}

#nav ul li a{
    display: block;
    color: white;
    padding: 18px 15px;
}

#nav .collapsible-header{
    min-height: 0 !important;
    line-height: inherit !important;
     padding: 18px 15px !important;
     background-color: inherit !important;
     border-bottom: none;
}

.collapsible{
    border: none;
}

#nav .collapsible-body ul li{
    border-bottom:none;
}

#nav .collapsible-body ul li a{
    padding: 10px 15px;
}