<nav id="nav">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <a href="#" class="collapsible-header">Products</a>
            <div class="collapsible-body">
                <ul>
                    <li><a routerLink="/add-new-form">Add New</a></li>
                    <li><a routerLink="/list-all">List All</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Category</a></li>
    </ul>
</nav>